{
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 120,
  "singleQuote": false,
  "tabWidth": 2,
  "tailwindConfig": "./configs/tailwind/tailwind.config.ts",
  "tailwindFunctions": ["clsx"],
  "trailingComma": "es5",
  "useTabs": false
}
